<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>">
		<%= day %>
		<br />
		<a href="/?page=add_event&date=<%= data_day %>" class="btn btn-success btn-xs" title="<%= window.calendar_languages['ru-RU'].add_event %>">+</a>
	</span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>
